.App {
  text-align: center;
}

.App-header {
  height: 80px;
  padding: 24px;
  color: white;
  position: relative;
  overflow: hidden;
}

.App-header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 50%;
  margin: 3% -10% 0;
  background: #011931;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  z-index: -1;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
